<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostRec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PostRec.Properties.Settings>
            <setting name="BonTsDemuxPath" serializeAs="String">
                <value>D:\OnlineSoft\PT2\BonTsDemux\BonTsDemux.exe</value>
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value>D:\OnlineSoft\PT2\ffmpeg\bin\ffmpeg.exe</value>
            </setting>
            <setting name="LogoDir" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\lgd</value>
            </setting>
            <setting name="AVS2YUVPath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\avs2yuv\avs2yuv.exe</value>
            </setting>
            <setting name="M2VVFPPath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\logoGuillo\m2v.vfp</value>
            </setting>
            <setting name="LogoGuilloPath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\logoGuillo\logoGuillo.exe</value>
            </setting>
            <setting name="AviutlPath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\aviutl.exe</value>
            </setting>
            <setting name="FilterTemplatePath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\txt\filtertemplate.txt</value>
            </setting>
            <setting name="PreFilterPath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\txt\prefilter.txt</value>
            </setting>
            <setting name="PostFilterDelogoPath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\txt\postfilterDelogo.txt</value>
            </setting>
            <setting name="PostFilterSizePath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\txt\postfilterSize.txt</value>
            </setting>
            <setting name="PostFilterAnimePath" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\txt\postfilterAnime.txt</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>E:\Video\Encoded</value>
            </setting>
            <setting name="AUCDir" serializeAs="String">
                <value>D:\OnlineSoft\AviUtil\otherfile\auc</value>
            </setting>
            <setting name="ConvertedFilePath" serializeAs="String">
                <value>E:\Video\ConvertedTS</value>
            </setting>
            <setting name="DefaultEncoderArgs" serializeAs="String">
                <value>%1 %2</value>
            </setting>
            <setting name="DefaultEncoderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>.\postrec.log</value>
            </setting>
            <setting name="S0ServicePath" serializeAs="String">
                <value />
            </setting>
            <setting name="T0ServicePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AviutilProfileNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AviutilPlugoutNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorFilePath" serializeAs="String">
                <value>E:\Video\ErrorFile</value>
            </setting>
        </PostRec.Properties.Settings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="BonTsDemuxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AVS2YUVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="M2VVFPPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoGuilloPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AviutlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreFilterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PostFilterDelogoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PostFilterSizePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PostFilterAnimePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AUCDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertedFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultEncoderArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultEncoderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </userSettings>
</configuration>